<h1 class="text-center mb-5">Contact Us</h1>

<div class="row justify-content-center">
	<div class="col-sm-2">
		<h2>Email</h2>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-dark" href="mailto:crmills@fsu.edu" rel="external" role="button"><i
				class="far fa-envelope fa-lg text-white pr-2"></i>Message Us</a>
		<address class="mt-2">crmills [at] fsu dot edu</address>
		
	</div>
</div>
<div class="row justify-content-center mt-3">
	<div class="col-sm-2">
		<h2>Slack</h2>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-dark" href="https://user-lab.slack.com" targer="_blank" rel="external" role="button"><i class="fa fa-slack fa-lg text-white pr-2"></i>Our Slack</a>
		<address class="mt-2">https://user-lab.slack.com</address>
	</div>
</div>
<div class="row justify-content-center mt-3">
	<div class="col-sm-2">
		<h2>Github</h2>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-dark" href="https://github.com/FSU-USER-Lab" target="_blank" rel="external" role="button"><i class="fa fa-github fa-lg text-white pr-2"></i>Our Code</a>
		<address class="mt-2">https://github.com/FSU-USER-Lab</address>
	</div>
</div>
<div class="row justify-content-center mt-3">
	<div class="col-sm-2">
		<h2>On Campus</h2>
	</div>
	<div class="col-sm-3">
		<address>
			<div class="font-weight-bold">James J. Love Building</div>
			rm. 105-B<br>
			1017 Academic Way<br>
			Tallahassee, FL 32304<br>
			USA
		</address>
	</div>
</div>
