.page-container {
	height: 100%;
	background: #fafafa;
	color: #000;
	display: flex;
	flex-direction: column;
}
.page-container a {
	color: inherit;
	text-decoration: none;
}
.page-container header {
	background: #2c2a29;
	color: #d5d4d4;
	padding: 18px 24px;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
.page-container header .menu-button {
	margin-right: 24px;
	min-width: 0;
	padding: 0;
	line-height: normal;
}
.page-container header .app-title {
	text-align: center;
	margin: auto;
	color: #f4f4f4;
	font-size:2em;
	padding: 0 3px;
}
.page-container .sidenav-container {
	background: rgb(44,42,41);
	background: linear-gradient(5deg, rgba(44,42,41,1) 0%, rgba(120,47,64,1) 35%, rgba(206,184,136,1) 100%);
	flex: 1;
}
.page-container .sidenav-container .sidenav {
	background-color: #565554;
	min-width: 240px;
}
.page-container .sidenav-container .sidenav a {
	display: block;
	padding: 6px 24px;
	width: 100%;
	text-align: left;
}
.page-container .sidenav-container main {
	padding: 18px 24px;
}

.page-container footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.sidenav .social-icons {
	padding-left: 0;
	list-style: none;
}

.social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.social-icons a {
	margin: 0;
	padding: 0;
}