<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>

      <a routerLink="/">
        <span class="app-title">{{title}}</span>
      </a>
    </div>
  </header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
    <ul class="social-icons">
      <li><a href="https://github.com/FSU-USER-Lab" target="_blank"><i class="fa fa-github" style="font-size:28px"></i></a>
      </li>
      <li><a href="https://user-lab.slack.com" target="_blank"><i class="fa fa-slack" style="font-size:28px"></i></a>
      </li>
      <li><a href="mailto:crmills@fsu.edu" target="_blank"><i class="fa fa-envelope"
            style="font-size:28px"></i></a></li>
    </ul>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="members">Members</a>
    <a mat-button routerLink="news">News</a>
    <a mat-button routerLink="publications">Publications</a>
    <a mat-button routerLink="projects">Projects</a>
    <a mat-button routerLink="faq">FAQ</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      © 2020 USER Lab
    </footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>  
</div>
