<h1 class="text-center"><span class="display-4 text-white">U</span>ndergraduate <span class="display-4 text-white">S</span>oftware <span class="display-4 text-white">E</span>ngineering <span class="display-4 text-white">R</span>esearch <span class="display-4 text-white">Lab</span></h1>
<div class="row justify-content-center mt-5">
	<div class="jumbotron mt-3" style="background-color: #A0A0A0;">
		<h2 class="display-4">Welcome to USER Lab!</h2>
		<p class="lead">A <a class="text-white" href="https://www.fsu.edu" target="_blank" title="Florida State University" rel="external">Florida State University</a> lab promoting Artificial Intelligence and Software Engineering research at the undergraduate level.</p>
		<hr class="my-4 bg-light">
		<p>We welcome students of various majors and skill sets. Interested in participating? Check out FSU's Undergraduate Research Opportunity Program (UROP).</p>
		<p class="lead">
			<a class="btn btn-light" href="https://cre.fsu.edu/undergradresearch/urop" target="_blank" title="UROP" rel="external" role="button">Learn more</a>
		</p>
	</div>
</div>
