<h1 class="text-center"><span class="display-4 text-white">U</span>ndergraduate <span class="display-4 text-white">S</span>oftware <span class="display-4 text-white">E</span>ngineering <span class="display-4 text-white">R</span>esearch Lab</h1>
<div class="row justify-content-center mt-5">
	<div class="jumbotron mt-3 bg-secondary">
		<h2 class="display-4">Welcome to USER Lab!</h2>
		<p class="lead">A research lab at <a class="text-white" href="https://www.fsu.edu" target="_blank" title="Florida State University" rel="external">Florida State University</a> promoting computer science research at the undergraduate level.</p>
		<hr class="my-4 bg-light">
		<p>We welcome students of various majors, and participate in FSU's Undergraduate Research Opportunity Program (UROP).</p>
		<p class="lead">
			<a class="btn btn-light" href="https://cre.fsu.edu/undergradresearch/urop" target="_blank" title="UROP" rel="external" role="button">Learn more</a>
		</p>
	</div>
</div>
